/**
 * Rotating cube
 * Source:  https://codepen.io/JTParrett/pen/hktzu
 */

.cube {
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 3s infinite ease-out;
  position: relative;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}

.cube div {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  box-shadow: inset 0px 0px 0px 3px rgba(0, 255, 173, 0.8);
  background: transparent;
  display: block;
  position: absolute;
}

.cube div.top {
  -webkit-transform: rotateX(90deg);
  margin-top: -50px;
}

.cube div.right {
  -webkit-transform: rotateY(90deg);
  margin-left: 50px;
}

.cube div.bottom {
  -webkit-transform: rotateX(-90deg);
  margin-top: 50px;
}

.cube div.left {
  -webkit-transform: rotateY(-90deg);
  margin-left: -50px;
}

.cube div.front {
  -webkit-transform: translateZ(50px);
}

.cube div.back {
  -webkit-transform: translateZ(-50px) rotateX(180deg);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateX(-20deg) rotateY(20deg) rotateZ(40deg);
  }
  90% {
    -webkit-transform: rotateX(-20deg) rotateY(450deg) rotateZ(-40deg);
  }
  100% {
    -webkit-transform: rotateX(-20deg) rotateY(20deg) rotateZ(40deg);
  }
}

/* Main page */

.probootstrap-logo img {
  width: 100px;
  height: auto;
  margin-top: -5px;
}

.blackandwhite {
    filter: gray;
    filter: grayscale(100%);
}

/* Slider */

.slides-text span {
  color: #22eaaa;
  font-weight: bold;
}