---
layout: base
---

<section id="wrapper-photo" class="group">
<header>
<a id="title" href="{{ site.url }}">
  <img src="{{ site.url }}/assets/images/logo.png" style="width: 3em">
</a>
</header>

{{ content }}

<footer>
<nav id="post-nav">
	<span class="prev">
		{% if page.previous %}
			<a href='{{ site.url }}{{ page.previous.url }}'>
				<span class="arrow">&larr;</span> {{ page.previous.title }}
			</a>
		{% endif %}
	</span>
	

	<span class="next">
		{% if page.next %}
			<a href='{{ site.url }}{{ page.next.url }}'>
				{{ page.next.title }} <span class="arrow">&rarr;</span>
			</a>
		{% endif %}
	</span>
</nav>

<footer id="footer">
 <p class="small">Lorem ipsum dolor, sit <a href="http://www.twitter.com/">@loremipsum</a>.</p>
</footer>

</section> <!--wrapper-->
